:root {
  --dblue: #051d41;
  --lblue: #55aaf4;
  font-family: "Raleway", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: var(--dblue);
  font-family: "Raleway", sans-serif;
}

body {
  background-color: var(--dblue);
}
.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 1.5em;
}

.signup-box {
  height: fit-content;
  height: fit-content;
  background-color: white;
  border-radius: 20px;
  padding: 0 5vh 15vh 5vh;
}

.logo a {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.logo a {
  margin-top: 5vh;
  color: var(--dblue);
  text-decoration: none;
  font-weight: bold;
  font-size: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo .ltext {
  color: var(--dblue);
  -webkit-transition: ease-in-out 0.5s;
  transition: ease-in-out 0.5s;
  font-size: 70px;
}
.logo .dtext {
  color: var(--lblue);
  -webkit-transition: ease-in-out 0.5s;
  transition: ease-in-out 0.5s;
  font-size: 70px;
}
.ltext:hover + .dtext {
  color: var(--dblue);
  -webkit-transition: ease-in-out 0.5s;
  transition: ease-in-out 0.5s;
}

.logo:hover .ltext {
  color: var(--lblue);
}

.ltext:hover {
  color: var(--lblue) !important;
}

.dtext:hover {
  color: var(--dblue) !important;
}
h1 {
  margin-top: 5vh;
  text-align: center;
  padding-top: 10px;
  color: var(--lblue);
}

form {
  width: 20vw;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

form input {
  margin-top: 20px;
  width: 100%;
  padding: 7px;
  border: none;
  border: 1px solid gray;
  background-color: rgb(248, 245, 245);
  border-radius: 6px;
  outline: none;
}
button {
  margin-top: 20px;
  border: none;
  background-color: #051d41;
  color: #fff;
  font-size: 18px;
  padding: 5px;
  border-radius: 5px;
  grid-column: 1 / span 2;
}
p {
  text-align: center;
  padding-top: 20px;
  font-size: 15px;
  color: var(--lblue);
}
a {
  color: var(--lblue);
}
.para-2 {
  text-align: center;
  color: white;
  font-size: 15px;
  margin-top: -10px;
}
.para-2 a {
  color: var(--lblue);
}

.remember {
  margin-top: 20px;
  text-align: center;
}
input[type="checkbox"] {
  margin: 0px;
}
.lever {
  color: var(--dblue);
  margin-top: 20px;
}
