:root {
  --dblue: #051d41;
  --lblue: #55aaf4;
  font-family: "Raleway", sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--dblue);
  line-height: 1.3;
  font-family: "Raleway", sans-serif;
}
html {
  overflow: auto;
}
html::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f500;
}

html::-webkit-scrollbar {
  width: 12px;
  background-color: #f5f5f500;
}

html::-webkit-scrollbar-thumb {
  background-color: #051d41;
}
dl,
ul,
ol {
  margin-bottom: 0;
}
.navbarmain {
  position: sticky;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  justify-content: space-around;
  padding: 20px;
  background: #051d41;
  z-index: 999;
}
.navbarmain .logo a {
  align-items: center;
  display: flex;
  flex-direction: row;
}
.navbarmain .logo a {
  color: var(--lblue);
  text-decoration: none;
  font-weight: bold !important;
}
.navbarmain .logo .ltext {
  color: var(--lblue);
  transition: ease-in-out 0.5s;
  font-size: 70px !important;
}
.navbarmain .logo .dtext {
  color: #fff;
  transition: ease-in-out 0.5s;
  font-size: 70px !important;
}
.ltext:hover + .dtext {
  color: var(--lblue);
  transition: ease-in-out 0.5s;
}
.logo:hover .ltext {
  color: #fff;
}

.ltext:hover {
  color: #fff !important;
}

.dtext:hover {
  color: var(--lblue) !important;
}

.navlink {
  align-items: center;
  display: flex;
  flex-direction: row;
}
.navlink ul {
  justify-content: space-evenly;
}
.navlink li {
  list-style: none;
  margin: 0 50px;
}
.navlink a {
  text-decoration: none;
  color: var(--lblue);
  font-weight: 700;
  font-size: 20px;
  transition: ease-in-out 0.25s;
}
.navlink a:hover {
  color: #fff;
}
.guide-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.guide {
  text-align: center;
  margin: 50px 10px 50px 10px;
  width: 40vw;
}
.guide h1 {
  color: #fff;
  font-size: 50px;
  text-shadow: 0px 0px 7px rgba(0, 0, 0, 0.6);
}
.guide form {
  margin: 20px 0 20px 0;
}
.guide form input[type="text"] {
  box-shadow: 5px 5px 26px 0px rgba(0, 0, 0, 0.8);
  -webkit-box-shadow: 5px 5px 26px 0px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: 5px 5px 26px 0px rgba(0, 0, 0, 0.8);
  padding: 10px;
  width: 70%;
  border-radius: 10px;
  border: 2px solid #fff;
  background-color: #fff;
}
.guide form button[type="submit"] {
  box-shadow: 5px 5px 26px 0px rgba(0, 0, 0, 0.8);
  -webkit-box-shadow: 5px 5px 26px 0px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: 5px 5px 26px 0px rgba(0, 0, 0, 0.8);
  background-color: #fff;
  border-radius: 10px;
  border: 2px solid #fff;
  padding: 10px 20px 10px 20px;
  color: #051d41;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  transition: ease-in-out 200ms;
}
.guide form button[type="submit"]:hover {
  background-color: #051d41;
  border: none;
  border: 2px solid #051d41;
  color: #fff;
  transition: ease-in-out 200ms;
}
.numtours {
  text-align: center;
  border-top: 2px solid #fff;
}
.numtours p {
  text-shadow: 4px 3px 12px rgba(0, 0, 0, 0.6);
  margin-top: 10px;
  color: #fff;
  display: inline;
}
.numtours h3 {
  text-shadow: 4px 3px 12px rgba(0, 0, 0, 0.6);
  margin-top: 10px;
  color: #fff;
  display: inline;
}
.guide-cont2 {
  margin: 20px;
}

.r-con {
  margin: 30px;
  max-height: 200px;
}
.r-con img {
  border-radius: 10px 10px 0 0;
  min-width: 305px;
  height: 200px;
}
.r-con .item {
  cursor: pointer;
  margin-top: 20px;
  border-radius: 20px;
}
.r-tit {
  display: flex;
  justify-content: center;
}
.r-tit h1 {
  color: #fff;
  text-shadow: 4px 3px 12px rgba(0, 0, 0, 0.78);
}
.owl-carousel .r-desc {
  padding: 10px 10px 2px 10px;
  background-color: #fff;
  border-radius: 0 0 10px 10px;
  color: #222222;
  display: -webkit-box;
  max-width: 305px;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden !important;
}
.about {
  margin-top: 250px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.about p {
  padding: 0 100px 10px 100px;
}
.owl-theme .owl-nav {
  display: none;
}
.review-img img {
  border-radius: 50%;
  width: 150px !important;
  height: 150px;
  object-fit: cover;
  margin: 0 auto;
}

.review-img .r-desc {
  background-color: transparent;
  color: #051d41;
}
.review-cont .owl-dots {
  display: none;
}
.review-cont {
  margin: 20px 0 20px 0;
  background-color: #55aaf4;
  padding: 30px;
  text-align: center;
  overflow: hidden;
}
.owl-carousel .owl-item img {
  width: 305px;
}
.userlink a {
  color: #fff;
}

.userlink a:hover {
  color: #55aaf4;
}
.backvid {
  position: absolute;
  right: 0;
  top: 0;
  min-height: 100vh;
  z-index: -3;
  background-size: cover;
  overflow: hidden;
}
.overlay {
  position: fixed;
  padding: 0;
  margin: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
  background: rgba(0, 0, 0, 0.5);
}
#results {
  z-index: 5;
  position: absolute;
  display: none;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 540px;
}
#pic {
  vertical-align: middle;
  height: 40px;
  width: 70px;
}
.user {
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 10px 10px 10px 10px;
  background-color: rgba(255, 255, 255, 0.8);
}
.user:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
.user span {
  margin-left: 10px;
}

.user:hover > span {
  color: #fff;
}
#looking {
  display: inline;
}
.typed-cursor {
  color: #fff;
  font-size: 50px;
  text-shadow: 0px 0px 7px rgba(0, 0, 0, 0.6);
  display: inline;
}
