:root {
  --dblue: #051d41;
  --lblue: #55aaf4;
  font-family: "Open Sans", sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--dblue);
}
.navbar {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  justify-content: space-around;
  padding: 20px;
  background: rgba(245, 245, 245, 0.95);
}
.navbar .logo a {
  align-items: center;
  display: flex;
  flex-direction: row;
}
.navbar img {
  height: 150px;
}
.navbar .logo a {
  color: var(--dblue);
  text-decoration: none;
  font-weight: bold;
  font-size: 45px;
}
.navbar .logo .ltext {
  color: var(--dblue);
  transition: ease-in-out 0.5s;
  font-size: 70px;
}
.navbar .logo .dtext {
  color: var(--lblue);
  transition: ease-in-out 0.5s;
  font-size: 70px;
}
.ltext:hover + .dtext {
  color: var(--dblue);
  transition: ease-in-out 0.5s;
}
.logo:hover .ltext {
  color: var(--lblue);
}

.ltext:hover {
  color: var(--lblue) !important;
}

.dtext:hover {
  color: var(--dblue) !important;
}

.navlink {
  align-items: center;
  display: flex;
  flex-direction: row;
}
.navlink ul {
  justify-content: space-evenly;
}
.navlink li {
  list-style: none;
  margin: 0 50px;
}
.navlink a {
  text-decoration: none;
  color: #051d41;
  font-weight: 700;
  font-size: 20px;
  transition: ease-in-out 0.25s;
}
.navlink a:hover {
  color: var(--lblue);
}
header {
  height: 100vh;
  width: 100vw;
  background-image: url("../images/banner6.jpg");
  background-size: cover;
  background-position: bottom;
  overflow: hidden;
}
